<script setup>
import { useRouter } from 'vue-router';

const router = useRouter();
const goBack = () => {
  router.push({
    name: 'home',
  });
};
</script>

<template>
  <h1>401 Unauthorized</h1>
  <button @click="goBack">Back</button>
</template>
