<script setup>
import { useRouter } from 'vue-router';
import { NButton } from 'naive-ui';

const router = useRouter();
const goToHelloWorld = () => {
  router.push({
    name: 'hello-world',
  });
};
</script>

<template>
  <h1>Index</h1>
  <n-button @click="goToHelloWorld">Hello World</n-button>
</template>
